.hiddenEdificios {
  transform: translateY(100px);
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
}

.showEdificios {
  transform: translateY(0px);
  opacity: 1;
  filter: blur(0);
}

.hiddenArañas {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 3s;
}

.showArañas {
  transform: translateY(0px);
  opacity: 1;
  filter: blur(0);
}

.hiddenTelarañas {
  transform: translateY(200px);
  opacity: 0;
  transition: all 3s;
}

.showTelarañas {
  transform: translateY(0px);
  opacity: 1;
  filter: blur(0);
}




