body {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  height: 8968px;
  overflow-x: hidden;
  background-color: #000;
}

html {
  width: 1280px;
  background-color: #fff;
}

/*contenedor de la primera foto con la foto de fondo del cielo*/
.contenedor-img-cielo {
  position: absolute;
  top: 126px;

  background: url(./imagenes/cielo1.png), lightgray 50% / cover no-repeat;
  width: 1280px;
  height: 720px;
  left: 0;
}

#contenedor-header {
  display: flex;
  justify-content: space-around;
  top: 0;
  width: 1280px;
  height: 227px;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    #5499f8 0%,
    #5499f8 87.91%,
    rgba(84, 153, 248, 0) 100%
  );
}

#img-menu {
  margin-top: 20px;
  width: 34px;
  height: 26px;
  flex-shrink: 0;
}
/*la foto de spidey Amazing friends*/
#img-logo {
  margin-left: 330px;
  margin-top: -35px;
  width: 590px;
  height: 301px;
  display: flex;
  position: absolute;
}
#btn-comprar {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 111px;
  border: 8px solid var(--2982-ff, #2982ff);
  background: #ffe901;

  /* Drop Shadow */
  box-shadow: 4px 5px 0px 0px #02187e;
}

/*texto que dice comprar del boton*/
#btn-comprar p {
  margin: 0;
  text-align: center;
  color: #02187e;

  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 94.5%; /* 18.9px */
}
/*tres imagenes svg de los 3 edificios con sus estilos para acomodar tamaño*/
#img-edificio1 {
  position: absolute;
  top: 18px;
  margin: 0;
  width: 452px;
  height: 720px;
  filter: blur(3.5px);
  margin-left: -47px;
}

#img-edificio2 {
  top: 508px;
  position: absolute;
  left: 392px;
  width: 543.5px;
  height: 213.5px;
  filter: blur(3.5px);
  margin: 0px;
}

/*posicion absoluta y left 906 porque sino se bajaba en vez de quedar al lado de los demas edificios*/
#img-edificio3 {
  position: absolute;
  top: 0px;
  left: 906px;
  width: 374px;
  height: 727.5px;
}

.img-spiders {
  position: absolute;
}

#img-spider1 {
  top: 209px;
  left: 695px;
  width: 393px;
  height: 393px;
  flex-shrink: 0;
}
#img-spider2 {
  top: 277px;
  left: 404px;
  width: 465px;
  height: 465px;
  flex-shrink: 0;
  z-index: 200;
}

#img-spider3 {
  top: 262px;
  left: 90px;
  width: 360px;
  height: 444px;
  flex-shrink: 0;
}

#img-telaraña1 {
  top: 249px;
  width: 450.817px;
  height: 627.274px;
  margin-left: -180px;
  position: absolute;
  z-index: 999;
}

#img-telaraña2 {
  margin-top: 262px;
  margin-left: 981px;
  width: 298.659px;
  height: 372.442px;
  overflow: hidden;
  position: absolute;
  z-index: 999;
}

/*---------------------css segundo contenedor del duende verde(violeta)--------------------*/
#cont-duende {
  position: absolute;
  top: 775px;
  width: 1280px;
  height: 844.5px;
  fill: #8f6aa6;
  z-index: 99;
}

#img-duende {
  position: absolute;
  top: 0px;
  left: 712px;
  width: 553px;
  height: 921px;
  flex-shrink: 0;
  z-index: 1;
}

#cont-duende h1 {
  width: 646px;
  height: 114px;
  position: absolute;
  margin-top: 219px;
  left: 83px;
  z-index: 99;
  color: #fff;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%; /* 56.7px */
}

#cont-duende p {
  top: 337px;
  left: 84px;
  width: 586px;
  height: 154px;
  position: absolute;
  flex-shrink: 0;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*-----------------------HISTORIAS DE LOS SPIDERS(tercer contenedor)---------------------*/
#game1 {
  left: 87px;
  top: 537px;
  position: absolute;
  transform: rotate(-2.222deg);
  flex-shrink: 0;
  z-index: 0;
}

#div-historias {
  top: 1472px;
  width: 1280px;
  height: 1085px;
  flex-shrink: 0;
  background: #ffffff;
  position: absolute;
}

#div-historias p {
  top: 680px;
  width: 333px;
  height: 218px;
  flex-shrink: 0;
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
}

#txt-peter {
  left: 100px;
}
#txt-miles {
  left: 474px;
}
#txt-gwen {
  left: 847px;
}

#historia-peter {
  top: 368px;
  left: 100px;
  position: absolute;
}

#historia-miles {
  top: 368px;
  left: 473px;
  position: absolute;
}
#historia-gwen {
  top: 368px;
  left: 847px;
  position: absolute;
}

/*------------------------------GHOST SPIDER(cuarto contenedor)---------------------------------*/
#ghostspider {
  top: 2497px;
  position: absolute;
}

#race1 {
  top: -99px;
  left: 69px;
  width: 546.108px;
  height: 326.509px;
  transform: rotate(-13.078deg);
  flex-shrink: 0;
  position: absolute;
}

#race2 {
  top: 84px;
  left: 68px;
  width: 543.218px;
  height: 325.787px;
  transform: rotate(-26.474deg);
  position: absolute;
}
#race3 {
  top: 298px;
  left: 99px;
  width: 546.108px;
  height: 326.509px;
  transform: rotate(-36.016deg);
  flex-shrink: 0;
  position: absolute;
}
/*--------------------------------------VENGADORES(quinto container)---------------------------------------*/
#txt-vengadores {
  top: 3166px;
  left: 93px;
  width: 667px;
  height: 171px;
  color: #fff;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%; /* 56.7px */
  position: absolute;
}
#elastico {
  top: 3399px;
  left: 185px;
  position: absolute;
  width: 451.258px;
  height: 591.442px;
  transform: rotate(-12.483deg);
  z-index: 3;
}
#blackpanter {
  top: 3233px;
  left: 612px;
  width: 368.308px;
  height: 552.462px;
  transform: rotate(13.615deg);
  flex-shrink: 0;
  position: absolute;
  z-index: 2;
}

#hulk {
  left: 799px;
  top: 3583px;
  position: absolute;
  width: 410.106px;
  height: 437.972px;
  transform: rotate(7.515deg);
  z-index: 3;
}

.imagen-fondo {
  position: absolute;
}

#vengadores-fondo3 {
  left: 101px;
  top: 3452px;
  width: 1077.059px;
  height: 527.626px;
  z-index: 3;
}
#vengadores-fondo2 {
  left: 101px;
  top: 3452px;
  width: 1077.059px;
  height: 527.626px;
  z-index: 2;
}
#vengadores-fondo1 {
  left: 101px;
  top: 3452px;
  width: 1077.059px;
  height: 527.626px;
  z-index: 1;
}

/*----------------------------------------MAS AMIGOS MAS DIVERSION(sexto container)---------------------------*/

#mas-amigos-fondo {
  top: 3833.5px;
  position: absolute;
  width: 1280px;
  height: 2194.5px;
  flex-shrink: 0;
}
#mas-amigos1 {
  top: 4213px;
  left: 104px;
  position: absolute;
}

#mas-amigos2 {
  top: 4616px;
  left: 108px;
  position: absolute;
}

#mas-amigos3 {
  top: 5042px;
  left: 100px;
  position: absolute;
}
#mas-amigos4 {
  top: 5555px;
  left: 104px;
  position: absolute;
}

#mas-amigos h1,
#mas-amigos p {
  position: absolute;
  left: 713px;
}

#mas-amigos h1 {
  top: 4047px;
  left: 104px;
  position: absolute;
  width: 802px;
  color: #000;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%; /* 56.7px */
  z-index: 999;
}

#mas-amigos p {
  position: absolute;
  width: 467px;
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 18.9px */
}
#mas-amigos h2 {
  left: 713px;
  color: #000;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 37.8px */
  position: absolute;
}

#mas-amigosh1 {
  top: 4180px;
  width: 467px;
}
#mas-amigosh2 {
  top: 4583px;
  width: 467px;
}
#mas-amigosh3 {
  top: 5005px;
  width: 467px;
}
#mas-amigosh4 {
  top: 5522px;
  width: 467px;
}
#mas-amigosp1 {
  top: 4295px;
}
#mas-amigosp2 {
  top: 4698px;
}
#mas-amigosp3 {
  top: 5158px;
}
#mas-amigosp4 {
  top: 5637px;
}

/*-----------------------------------GRAN PODER(septimo container)-----------------------*/
#gran-poder h1 {
  top: 6012px;
  left: 104px;
  position: absolute;
  width: 816px;
  color: #fff;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#gran-poder button {
  top: 6238px;
  left: 110px;
  position: absolute;
  width: 292px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 111px;
  border: 8px solid var(--2982-ff, #2982ff);
  background: #ffe901;
  box-shadow: 4px 5px 0px 0px #02187e;
}
#gran-poder button p,
#seccion-email button p {
  margin: 0;
  text-align: center;
  color: #02187e;

  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 94.5%; /* 18.9px */
}
/*------------------------------------TRES SPIDERS(octavo contenedor)--------------------*/
#fondo-tres-spiders {
  top: 6275px;
  width: 1280px;
  height: 719.861px;
  flex-shrink: 0;
  fill: #fff;
  position: absolute;
}

#tres-spiders-gwen {
  top: 6446px;
  left: 190px;
  position: absolute;
  width: 268px;
  height: 416.5px;
  flex-shrink: 0;
}
#tres-spiders-peter {
  top: 6455px;
  left: 394px;
  position: absolute;
  width: 416.5px;
  height: 457.5px;
  flex-shrink: 0;
}
#tres-spiders-miles {
  top: 6455px;
  left: 777px;
  position: absolute;
  width: 313.5px;
  height: 398.5px;
  flex-shrink: 0;
}
/*---------------------------------SECCION EMAIL(noveno contenedor)-----------------------*/
#email-cielo {
  top: 6994px;
  position: absolute;
  width: 1280px;
  height: 1296px;
  flex-shrink: 0;
}

#seccion-email h1 {
  top: 7106px;
  left: 232px;
  position: absolute;
  width: 816px;
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%; /* 56.7px */
}
#input-form {
  top: 7363px;
  left: 250px;
  position: absolute;
  width: 562px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 50px 0px 0px 50px;
  border-top: 9px solid #2982ff;
  border-bottom: 9px solid #2982ff;
  border-left: 9px solid #2982ff;
  background: #fff;
  box-shadow: 4px 5px 0px 0px #02187e;
  /*para el texto de adentro*/
  color: rgba(0, 0, 0, 0.39);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 18.9px */
  letter-spacing: 2.2px;
}
#boton-suscribirse {
  top: 7363px;
  left: 812px;
  position: absolute;
  width: 218px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  border: 9px solid #2982ff;
  background: #ffe901;
  box-shadow: 4px 5px 0px 0px #02187e;
}
#email-p {
  /*para el texto de adentro del boton*/
  top: 7482px;
  left: 302px;
  position: absolute;
  width: 578px;
  height: 95px;
  flex-shrink: 0;
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 94.5%; /* 18.9px */
}
#img-rating {
  top: 7614px;
  left: 302px;
  position: absolute;
  width: 231px;
  height: 145px;
  flex-shrink: 0;
}
#edificios-email {
  top: 7570px;
  position: absolute;
  width: 1280px;
  height: 720px;
  flex-shrink: 0;
}
#spider-email1 {
  top: 8130px;
  left: 219px;
  position: absolute;
  width: 97px;
  height: 89px;
  flex-shrink: 0;
}
#spider-email2 {
  top: 8066px;
  left: 533px;
  position: absolute;
  width: 58px;
  height: 64px;
  flex-shrink: 0;
}
#spider-email3 {
  top: 7963px;
  left: 998px;
  position: absolute;
  width: 94px;
  height: 88px;
  flex-shrink: 0;
}
/*--------------------------------FOOTER(decimo contenedor)----------------------------*/
#plataformas {
  top: 8290px;
  position: absolute;
  width: 1280px;
  height: 80px;
  flex-shrink: 0;
  background: #242424;
}
#plataformas img {
  left: 100px;
  position: absolute;
  width: 1080px;
  height: 75px;
  flex-shrink: 0;
}
#footer {
  top: 8370px;
  position: absolute;
  width: 1280px;
  height: 598px;
  flex-shrink: 0;
  background-color: #5e5e5d;
}
#parrafo {
  left: 100px;
  position: absolute;
  width: 820px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%; /* 18.9px */
  letter-spacing: 2.2px;
}
#footer img {
  top: 437px;
  left: 100px;
  width: 212px;
  height: 41px;
  flex-shrink: 0;
  position: absolute;
}
